NODE_ENV=dev
PORT=3000


# JWT
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

# CORS
CORS_ORIGIN="https://localhost:3000/"

# Argon
ARGON2_PEPPER=your-pepper

# Resend Email
RESEND_API_KEY=your-api-key
EMAIL="onboarding@resend.dev"