# Override env variables during tests

# Resend Email
RESEND_API_KEY=your-api-key
EMAIL="onboarding@resend.dev"

# Postal Code external service
POSTAL_CODE_EXTERNAL_SERVICE_URL=

# External HTTP test services (required in test environment)
JSON_PLACEHOLDER_URL=
HTTPBIN_URL=

## Upload (AWS / Cloudflare)
### Specify a different bucket name here to use only for testing
AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRETE_ACCESS_KEY_ID=
